@use 'variables' as var;

@mixin visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@mixin removeVisuallyHidden {
    position: unset;
    width: unset;
    height: unset;
    margin: unset;
    border: unset;
    padding: unset;
  
    white-space: unset;
    clip-path: unset;
    clip: unset;
    overflow: unset;
}

body {
    background-color: var.$bgColor;
    background-image: url(/src/img/wallpaper.jpg);
    font-family: var.$usualFont;
}

.start{
    background-image: url(/src/img/headerMobile.jpg);
    background-size: cover;
    min-height: 50vh;
}

nav{
    height: 70vh;

    .toggleMenu {
        background-color: transparent;
        position: absolute;
        margin-top: 8px;
        height: 45px;
        width: 45px;
        top: 2px;
        right: 0.5rem;
        border: none;
        cursor: pointer;
    }

    span.menuBar {
        display: block;
        height: 3.5px;
        width: 35px;
        background-color: var.$menuColor;
        margin-bottom: 5px;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .toggleMenu:focus span.menuBar:nth-child(2) {
        opacity: 0;
    }
      
    .toggleMenu:focus span.menuBar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .toggleMenu:focus span.menuBar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .menuLinks ul{
        width: 100%;
        height: 70vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #333333bb;

        li{
            list-style-type: none;
            text-align: center;
            text-transform: uppercase;
            margin-top: 2em;
            margin-bottom: 1em;

            a{
                text-decoration: none;
                color: var.$menuColor;
                font-size: 1.5rem;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .menuLinks{
        width: 100%;
        @include visuallyHidden();
    }

    .menuLinks.active {
        @include removeVisuallyHidden();
    }
}

nav{
    .toggleMenu {
        background-color: transparent;
        position: absolute;
        margin-top: 8px;
        height: 45px;
        width: 45px;
        top: 2px;
        right: 0.5rem;
        border: none;
        cursor: pointer;
    }

    span.menuBar {
        display: block;
        height: 3.5px;
        width: 35px;
        background-color: var.$menuColor;
        margin-bottom: 5px;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .toggleMenu:focus span.menuBar:nth-child(2) {
        opacity: 0;
    }
      
    .toggleMenu:focus span.menuBar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .toggleMenu:focus span.menuBar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .menuLinks ul{
        width: 100%;
        margin: 0;
        padding: 0;

        li{
            list-style-type: none;
            text-align: center;
        }
    }
}

main{
    color: var.$blackTextColor;
    margin: 0 auto;
    margin-top: 2em;
    width: 90%;

    .mainContainer {
        background-color: var.$bgColor;
        padding: 1em;

        h1 {
            text-align: center;
        }
        .infoCard {
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 1em;
            padding: 1em;
            box-shadow: 0px 0 10px rgb(0 0 0 / 80%);

            .cardImage {
                width: 100%;
            }

            h3{
                font-family: var.$cursiveFont;
                font-size: 2.5rem;
                text-align: center;
            }

            a{
                color: var.$blackTextColor;
                text-decoration: none;

                &:hover {
                    color:#373737;
                }
            }
        }
    }
}