@use 'variables' as var;

@mixin visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    background-color: var.$bgColor;
}

header {
    img {
        width: 100%;
    }
}

nav{
    .toggleMenu {
        background-color: transparent;
        position: absolute;
        margin-top: 8px;
        height: 45px;
        width: 45px;
        top: 2px;
        right: 0.5rem;
        border: none;
        cursor: pointer;
    }

    span.menuBar {
        display: block;
        height: 3.5px;
        width: 35px;
        background-color: var.$menuColor;
        margin-bottom: 5px;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .toggleMenu:focus span.menuBar:nth-child(2) {
        opacity: 0;
    }
      
    .toggleMenu:focus span.menuBar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .toggleMenu:focus span.menuBar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

}